<div ng-controller="contentAddCtrl">
    <div class="container p-3">
        <div class="card">
            <div class="card-header">
                Add a new content
                <a ng-click="changeMenu('content-list')" class="btn btn-primary btn-sm float-end">return</a>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <a class="btn btn-sm btn-primary float-end">Add new +</a>
                        <br>
                        <br>
                        <row class="row">
                            <div class="col-3"></div>
                            <div class="col login-box-holder">
                                <div class="mb-3">
                                    <label for="key" class="form-label">Key</label>
                                    <input type="text" class="form-control" id="key" ng-model="data.key">
                                </div>
                                <div class="mb-3">
                                    <label for="value" class="form-label">Value</label>
                                    <div text-angular="text-angular" id="value" name="value" ng-model="data.value" ></div>
                                </div>
                                <button type="submit" class="btn btn-primary" ng-click="addData()">Insert</button>
                            </div>
                            <div class="col-3"></div>
                        </row>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>